.w-checkbox {
  display: block;
  margin-bottom: 5px;
  padding-left: 20px;
}

.w-checkbox::before {
  content: ' ';
  display: table;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
}

.w-checkbox::after {
  content: ' ';
  display: table;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
  clear: both;
}

.w-checkbox-input {
  float: left;
  margin-bottom: 0px;
  margin-left: -20px;
  margin-right: 0px;
  margin-top: 4px;
  line-height: normal;
}

.w-checkbox-input--inputType-custom {
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-right-width: 1px;
  border-top-color: #ccc;
  border-bottom-color: #ccc;
  border-left-color: #ccc;
  border-right-color: #ccc;
  border-top-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-right-style: solid;
  width: 12px;
  height: 12px;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

.w-checkbox-input--inputType-custom.w--redirected-checked {
  background-color: #3898ec;
  border-top-color: #3898ec;
  border-bottom-color: #3898ec;
  border-left-color: #3898ec;
  border-right-color: #3898ec;
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/static/custom-checkbox-checkmark.589d534424.svg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.w-checkbox-input--inputType-custom.w--redirected-focus {
  box-shadow: 0px 0px 3px 1px #3898ec;
}

.body {
  font-family: Poppins, sans-serif;
  color: #000;
}

.wrapper {
  height: 100vh;
}

.main_header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 10vh;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.logo {
  width: 3.5em;
}

.content_container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 90vh;
}

.cart_container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: scroll;
  width: 30vw;
  height: 90vh;
  padding: 1.38em 2.75em;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-left: 1px solid rgba(0, 0, 0, 0.2);
  text-align: center;
}

.items_section_container {
  display: block;
  width: 70vw;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.items_header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 10vh;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.item_header_container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 30.99em;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  color: #000;
  font-weight: 500;
}

.item_headers_text {
  color: #000;
  font-size: 1.24em;
  text-decoration: none;
}

.item_headers_text.w--current {
  font-size: 1.24em;
}

.items_content_container {
  display: block;
  overflow: scroll;
  height: 80vh;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.section_container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 60vh;
  padding-top: 2.75em;
  padding-left: 1.38em;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-align-content: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  background-color: #fff;
}

.item_container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 25rem;
  height: auto;
  margin-right: 1.38em;
  margin-bottom: 1.38em;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(0, 0, 0, 0.2);
}

.item_text_container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-right: 20px;
  padding-left: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.item_name {
  margin-bottom: 10px;
  font-size: 1em;
  font-weight: 600;
}

.item_description {
  margin-bottom: 10px;
  color: rgba(0, 0, 0, 0.5);
  font-size: 1em;
}

.item_price {
  font-size: 1em;
  font-weight: 500;
}

.item_image {
  width: 100%;
  height: auto;
  max-width: none;
}

.cart_item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 1.38em;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: left;
}

.cart_item_name {
  margin-bottom: 10px;
  font-size: 1.24em;
  font-weight: 600;
}

.cart_item_price {
  margin-left: 1.38em;
  font-size: 1.24em;
}

.cart_items_container {
  display: block;
  overflow: visible;
  width: 100%;
}

.cart_item_text_container {
  position: relative;
}

.cart_item_description {
  color: rgba(0, 0, 0, 0.5);
  font-size: 1em;
}

.button {
  display: block;
  padding: 1.03em 1.72em;
  background-color: #000;
  font-size: 1.24em;
  text-align: center;
}

.grid_container {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  justify-items: center;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.cart_header {
  margin-bottom: 20px;
  font-size: 1.72em;
  font-weight: 500;
}

.body-2 {
  font-family: Poppins, sans-serif;
}

.section {
  height: 100vh;
}

.image {
  width: 40px;
  cursor: pointer;
}

.header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 10vh;
  padding: 2.88em 5.13em 10px 2.08em;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.image-2 {
  width: 40px;
}

.cart_icon_container {
  position: relative;
}

.div-block {
  position: absolute;
  left: auto;
  top: -2.07em;
  right: -2.87em;
  bottom: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 2.41em;
  height: 2.41em;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 100px;
  background-color: #000;
}

.text-block {
  color: #fff;
}

.product_container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 90vh;
  padding-right: 6.89em;
  padding-left: 6.89em;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.columns {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.product_name {
  margin-bottom: 0.75em;
  color: #000;
  font-size: 3em;
}

.text-field {
  height: 3.44em;
  margin-bottom: 0.75em;
  padding-top: 1.38em;
  padding-bottom: 1.38em;
  padding-left: 1.38em;
  border: 1px solid #000;
  font-size: 1em;
}

.product_price {
  margin-bottom: 0.75em;
  font-size: 2em;
}

.dropdown {
  width: 13.77em;
  height: 3.44em;
  margin-bottom: 0.75em;
  padding-right: 1.38em;
  padding-left: 1.38em;
  border: 1px solid #000;
  background-color: #fff;
  color: #000;
  font-size: 1em;
}

.checkbox_container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0.75em;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.checkbox {
  width: 1.5em;
  height: 1.5em;
}

.checkbox.w--redirected-checked {
  background-color: #000;
}

.checkbox-field {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.checkbox-label {
  margin-left: 10px;
  font-size: 1.24em;
}

.textarea {
  margin-bottom: 0.75em;
  padding: 20px;
  border: 1px solid #000;
  font-size: 1em;
}

.link-block {
  color: #000;
  text-decoration: none;
}

.cart_delete {
  position: absolute;
  top: 0%;
  right: auto;
  bottom: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-left: -20px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: Montserrat, sans-serif;
  color: rgba(0, 0, 0, 0.5);
  font-size: 1.5em;
  text-align: center;
  cursor: pointer;
}

.text-block-3 {
  overflow: scroll;
}

.product_page_error {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0.75em;
  padding: 1.04em 1.04em 1.04em 0em;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-style: none;
  border-width: 1px;
  border-color: #000;
  border-radius: 0px;
  background-color: #fff;
}

.warning_symbol {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.form-block {
  display: block;
  width: 100%;
}

.tab-link-tab-2 {
  background-color: #fff;
}

.tab-link-tab-2.w--current {
  border: 1px solid #000;
  background-color: #fff;
}

.tab-link-tab-1 {
  background-color: #fff;
}

.tab-link-tab-1.w--current {
  border: 1px solid #000;
  background-color: #fff;
}

.tabs {
  width: 100%;
}

.tabs-menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.tabs-content {
  margin-top: 10px;
}

.div-block-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.checkout_container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.div-block-3 {
  width: 100%;
}

@media screen and (min-width: 1280px) {
  .tabs-menu {
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }

  .header_section {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }

  .image-3 {
    width: 30px;
    height: 30px;
  }
}

@media screen and (min-width: 1440px) {
  .item_container {
    width: 28rem;
    height: auto;
  }
}

@media screen and (min-width: 1920px) {
  .cart_container {
    padding-top: 1.38em;
  }

  .item_container {
    width: 30rem;
    height: auto;
  }

  .item_text_container {
    margin-top: 40px;
    margin-bottom: 40px;
    padding-right: 20px;
  }

  .item_name {
    font-size: 1.5em;
  }

  .item_description {
    font-size: 1.2em;
  }

  .item_price {
    font-size: 1.5em;
  }

  .cart_item {
    text-align: left;
  }

  .cart_items_container {
    width: 100%;
  }

  .button {
    font-size: 1.5em;
  }

  .cart_header {
    font-size: 2em;
  }

  .div-block {
    top: -2.07em;
    right: -2.07em;
  }

  .product_name {
    font-size: 4em;
  }

  .text-field {
    padding-top: 2.08em;
    padding-bottom: 2.08em;
    padding-left: 1.88em;
    font-size: 1em;
  }

  .product_price {
    font-size: 3em;
  }

  .dropdown {
    padding-right: 1.38em;
    padding-left: 1.38em;
    font-size: 1em;
  }

  .checkbox {
    width: 2em;
    height: 2em;
  }

  .checkbox-label {
    font-size: 1em;
  }

  .textarea {
    font-size: 1em;
  }

  .column {
    padding-right: 40px;
    padding-left: 40px;
  }
}

@media screen and (max-width: 991px) {
  .content_container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .cart_container {
    overflow: visible;
    width: 70vw;
    padding-top: 1.38em;
    padding-right: 10px;
    padding-left: 10px;
    border-left-style: none;
  }

  .items_section_container {
    width: 100vw;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  }

  .item_container {
    cursor: pointer;
  }

  .cart_items_container {
    overflow: visible;
    height: auto;
  }

  .button {
    margin-bottom: 20px;
  }

  .grid_container {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .cart_header {
    font-size: 1.72em;
    font-weight: 500;
  }

  .product_container {
    padding-right: 0em;
    padding-left: 0em;
  }

  .columns {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .checkbox_container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .cart_delete {
    margin-left: -15px;
  }

  .tabs-menu {
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }

  .checkout_container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
}

@media screen and (max-width: 767px) {
  .header {
    padding-right: 60px;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .product_container {
    padding-right: 0em;
    padding-left: 0em;
  }

  .columns {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .column {
    margin-top: 4.13em;
  }

  .product_page_error {
    padding-left: 0em;
  }
}

@media screen and (max-width: 479px) {
  .cart_container {
    width: 100vw;
    padding-right: 10px;
    padding-left: 10px;
  }

  .items_header {
    padding-right: 10px;
    padding-left: 10px;
  }

  .item_headers_text {
    font-size: 1em;
  }

  .item_headers_text.w--current {
    font-size: 1em;
  }

  .section_container {
    padding-left: 0em;
  }

  .item_container {
    width: 100%;
    height: auto;
    margin-right: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .grid_container {
    padding-right: 10px;
    padding-left: 10px;
  }

  .header {
    padding-top: 2.78em;
    padding-right: 3.73em;
    padding-left: 2.08em;
  }

  .product_name {
    line-height: 1;
  }

  .form {
    text-align: center;
  }

  .cart_delete {
    margin-left: -15px;
  }

  .product_page_error {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }

  .text-block-4 {
    text-align: left;
    white-space: normal;
    background-clip: border-box;
  }

  .text-block-5 {
    width: auto;
    max-width: 100px;
  }

  .paragraph {
    text-align: left;
  }

  .tabs-menu {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
}

/* Stuart's CSS */
.payment_complete_cart{
  width: 50%;
}
@media only screen and (max-width: 600px) {
  .payment_complete_cart{
    width: 100%;
  }
}
